@import "../../styles/variables.scss";
.button {
  color: #fff;
  background-color: $main-ui-color;
  border-radius: 3px;
  padding: 8px 12px;
  border-style: none;

  &--disabled {
    background-color: $col-secondary-element;
    color: $col-primary-font;
  }
}
