@mixin for-mobile {
  @media (max-width: 744px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 745px) {
    @content;
  }
}

$main-ui-color: #0052cc;
$border-color: #e1e4e8;
$dark-border-color: #9da0a3;
$col-secondary-element: #f7f7f7;
$col-primary-element: #0052cc;
$col-success-element: #2ec973;
