@import '../../styles/variables.scss';

.input-label {
  display: block;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  font-family: GraphikRBCLC;
  font-weight: bold;
  margin-bottom: 8px;
}
